# DEVICE
# cpu: use the CPU
# cuda: use the GPU
DEVICE="cpu"

DATASETS_PATH="datasets/"
MODELS_PATH="models/"

DATASET="cifar10"
THREAT_MODEL="Linf"

# Values here will be divided by 255, i.e [8, 1, 16] will become [8/255, 1/255, 16/255]
EPSILON_VALUES='[8, 1, 16, 0, 255]'

MODEL_NAMES='["Sehwag2021Proxy_R18","Carmon2019Unlabeled","Bartoldson2024Adversarial_WRN-94-16","Amini2024MeanSparse_S-WRN-94-16","Rebuffi2021Fixing_70_16_cutmix_ddpm"]'

