# DEVICE
# cpu: use the CPU
# cuda: use the GPU
DEVICE="cpu"

DATASETS_PATH="datasets/"
MODELS_PATH="models/"

DATASET="cifar10"
THREAT_MODEL="Linf"
MODEL_NAMES='["Sehwag2021Proxy_R18","Carmon2019Unlabeled","Bartoldson2024Adversarial_WRN-94-16","Amini2024MeanSparse_S-WRN-94-16","Rebuffi2021Fixing_70_16_cutmix_ddpm"]'

